/* RESET GLOBAL */
* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* VARIABLES */
:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
}

/* TIPOGRAFÍA */
body {
  margin: 0;
  min-height: 100vh;
  height: auto; /* 🔥 importante */

  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #9ca3af;

  background:
    radial-gradient(circle at 20% 20%, rgba(34, 197, 94, 0.25), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(59, 130, 246, 0.25), transparent 40%),
    linear-gradient(135deg, #020617, #0f172a);
}

/* 🔥 CAPA ANIMADA */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(circle at 20% 20%, rgba(34, 197, 94, 0.25), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(59, 130, 246, 0.25), transparent 40%),
    radial-gradient(circle at 50% 80%, rgba(168, 85, 247, 0.2), transparent 40%);

  animation: moveBackground 18s ease-in-out infinite alternate;
  
}
/* HEADINGS */
h1, h2 {
  color: var(--text-h);
  margin: 0;
}
@keyframes moveBackground {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(-40px, 30px) scale(1.05);
  }
  100% {
    transform: translate(40px, -30px) scale(1.1);
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateX(0);
    opacity: 0.6;
  }
  50% {
    transform: translateX(6px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.6;
  }
}

@keyframes jumpRight {
  0% {
    transform: translateX(0) scale(1);
  }
  40% {
    transform: translateX(40px) scale(1.15);
  }
  70% {
    transform: translateX(55px) scale(0.95);
  }
  100% {
    transform: translateX(50px) scale(1);
  }
}

@keyframes jumpLeft {
  0% {
    transform: translateX(0) scale(1);
  }
  40% {
    transform: translateX(-40px) scale(1.15);
  }
  70% {
    transform: translateX(-55px) scale(0.95);
  }
  100% {
    transform: translateX(-50px) scale(1);
  }
}

/* 🔥 BACKDROP */
@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 🔥 MODAL iOS */
@keyframes iosModalIn {
  from {
    transform: translate(-50%, -60%) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* 🔥 MODAL CLOSE (opcional después) */
@keyframes iosModalOut {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -60%) scale(0.95);
    opacity: 0;
  }
}
/* 🔥 TOAST ENTRADA */
@keyframes toastIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 🔥 TOAST SALIDA */
@keyframes toastOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}